@charset utf-8;


#headerWrap {
	width: 1200px;
	margin: auto;
	height: 100px;
	background-color: #f0f0f0;
}
#headerWrap .logo {
	width: 200px;
	height: 40px;
	padding-top: 30px;
	float: left;
}
#headerWrap .logo>h2 {
	text-align: center;
	line-height: 40px;
	background-color: #ff5050;
}

#headerWrap .gnb {
	float: right;
	width: 400px;
	height: 40px;
	padding-top: 30px;
}
#headerWrap .gnb>ul>li {
	float: left;
	width: 100px;
	height: 40px;
	background-color: #ffc000;
}
#headerWrap .gnb>ul>li>a {
	display: block;
	color: #222328;
	text-align: center;
	line-height: 40px;
}


#headerWrap .gnb>ul>li ul {
	display: none;
}


















