@charset "uft-8";

/*header start*/
header#headerWrap {
	width: 100%;
	height: 149px;
	border-bottom: 3px solid #0e73a7;
	box-sizing: content-box;
}
header#headerWrap>div.main_headerWrap {
	width: 100%;
	height: 90px;
	background-image: url(../images/hd01.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.main_header {
	width: 980px;
	height: 90px;
	margin: 0 auto;
	position: relative;
}

.main_header .logo {
	_position: absolute;
	_top: 0;
	_left: 0;
	float: left;
	width: 145px;
	height: 50px;
}

.logo a{
	float: left;
	padding-top: 20px;
}

.logo img {
	float: left;
}

.logo h2 {
	float: left;
	margin-left: 4px;
	color: white;
}

.logo p {
	_float: left;
	font-size: 11px;
	text-align: center;
	margin-left: 4px;
	color: white;
}

.blind, legend {
	display: block;
	position: absolute;
	left: 0;
	top: -9999px;
}

.search {
	float: left;
	width: 290px;
	height: 30px;
	padding-left: 135px;
	padding-top: 30px;
	_background-color: #fff;
	_border-radius: 30px;
}

.search form fieldset {
	width: 290px;
	height: 30px;
	border: 1px solid #dadada;
	background-color: #fff;
	margin-bottom: 10px;
	border-radius: 30px;
}

.search form fieldset .field {
	_border-bottom: 1px solid #f0f0f0;
	position: relative;
}

.search form fieldset .field:last-child {
	border-bottom: 0 none;
	position: relative;
}

.search form fieldset .field lebel {
	font-size: 8px;
	font-weight: bold;
	padding-left: 16px;
	line-height: 30px;
}

.search form fieldset .field .inp-field {
	width: 120px;
	font-size: 13px;
	border: 0 none;
	margin-left: 5px;
}

.search form fieldset .field img {
	position: absolute;
	top: 7px;
	right: 20px;
}

.search form fieldset .field .inp-field .icon img {
	display: none;
	float: right;
	width: 14px;
	height: 14px;
}

.sns {
	padding-top: 32px;
	float: right;
	_position: absolute;
	_top: 35%;
	_right: 0;
}

.sns h3 {
	float: left;
	font-size: 22px;
	font-weight: bolder;
	margin-right: 9px;
	line-height: 22px;
	color: white;
}

.sns h2 {
	float: left;
	font-size: 22px;
	margin-right: 17px;
	line-height: 22px;
	color: white;
}

.sns a {
	float: left;
	margin-right: 6px;
}

.sns a:last-child {
	margin-right: 0;
}

nav.gnb {
	width: 980px;
	height: 59px;
	margin: 0 auto;
}

nav.gnb li {
	float: left;
	width: 163.33px;
	text-align: center;
	line-height: 59px;
	border-left: 1px solid #e9e9e9;
	font-size: 17px;
	font-weight: bold;
	color: #152532;
}

nav.gnb li:last-child {
	border-right: 1px solid #e9e9e9;
}

nav.gnb a {
	width: 163.33px;
	height: 59px;
}

.mainWrap {
	width: 100%;
	height: 1123px;
	margin: 0 auto;
	background-image: url(../images/bg02.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding-top: 56px;
}

.mainWrap>img:first-child {
	top: 70px; left: 205px;
	position: absolute;
	animation-name: myani2;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-duration: 1s;
}

@keyframes myani2 {
	from {top: 70px; left: 205px;}
	to {top: 120px; left: 205px;}
}

.mainWrap>img:nth-child(2) {
	position: absolute;
	top: 155px;
	right: -50px;
	animation-name: myani1; /*이름*/
	animation-iteration-count: infinite; /*반복횟수*/
	animation-direction: alternate; /*움직이는 방향*/
	animation-timing-function: linear; /*실행속도*/
	animation-duration: 1.5s; /*작동시간*/
}

@keyframes myani1 {
	from {top: 155px; right: 350px;}
	to {top: 200px; right: 350px;}
}

.mainWrap .content01 {
	_width: 352px;
	height: 556px;
	position: absolute;
	right: 28%;
	top: 4%;
}

.mainWrap .content01 h1 {
	font-size: 51px;
	color: #152630;
}

.mainWrap .content01 p {
	font-size: 30px;
	_font-weight: bold;
	color: #152630;
}
/*content02 end*/

/*.mainWrap>img:last-child {
	top: 900px; right: -60px;
	position: absolute;
	animation-name: myani3;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-duration: 1s;
}
@keyframes myani3 {
	from {top: 820px; right: -60px;}
	to {top: 900px; right: -60px;}
}*/

.main {
	width: 980px;
	margin: 0 auto;
	position: relative;
}


.content02 {
	width: 482px;
	height: 300px;
	_position: absolute;
	_top: 56px;
	background-color: #fff;
	margin-bottom: 16px;
}


/*content03 start*/
.content03 {
	width: 482px;
	height: 240px;
	_top: 371px;
	_background-color: pink;
	_position: absolute;
	margin-bottom: 16px;
	position: relative;
}

.content03 li {
	width: 233px;
	height: 240px;
	float: left;
	margin-right: 16px;
}

.content03 li .txtWrap {
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 233px;
	background-color: #152630;
}

.content03 .txtWrap h3{
	font-size: 15px;
	text-align: center;
	float: left;
	color: white;
	line-height: 50px;
	padding-left: 20px;
}

.content03 .txtWrap p{
	padding-left: 20px;
	text-align: center;
	float: left;
	line-height: 50px;
	color: #5ba556;
}

.content03 .txtWrap>img {
	padding-right: 19px;
	padding-top: 17px;
	float: right;
}

.content03 li:last-child {
	margin-right: 0;
}

.content03 li:last-child .txtWrap h3{
	font-size: 15px;
	text-align: center;
	float: left;
	color: white;
	line-height: 50px;
	padding-left: 20px;
}

.content03 li:last-child .txtWrap p{
	padding-left: 46px;
	text-align: center;
	float: left;
	line-height: 50px;
	color: #5ba556;
}

.content03 li:last-child .txtWrap>img {
	padding-right: 19px;
	padding-top: 17px;
	float: right;
}
/*content03 end*/

/*content04 start*/
.content04 {
	width: 980px;
	height: 240px;
	_top: 628px;
	_background-color: pink;
	position: relative;
	margin-bottom: 16px;
}

.content04 li {
	width: 233px;
	height: 240px;
	float: left;
	margin-right: 16px;
}

.content04 li .txtWrap {
	position: absolute;
	bottom: 0;
	height: 65px;
	width: 233px;
	background-color: #529351;
}

.content04 li .txtWrap h3{
	font-size: 16px;
	text-align: center;
	float: left;
	color: white;
	_line-height: 50px;
	padding-left: 18px;
	padding-top: 14px;
}

.content04 li .txtWrap>img {
	padding-left: 18px;
	padding-top: 4px;
	_float: right;
}

.content04 li:nth-child(2) {
	width: 233px;
	height: 240px;
	top: 628px;
	left: 248px;
	background-color: pink;
	_position: absolute;
}

.content04 li:nth-child(2) .txtWrap {
	position: absolute;
	_bottom: 0;
	height: 65px;
	width: 233px;
	background-color: #152630;
}

.content04 li:nth-child(2) .txtWrap h3{
	font-size: 16px;
	text-align: center;
	float: left;
	color: white;
	_line-height: 50px;
	padding-left: 18px;
	padding-top: 14px;
}

.content04 li:nth-child(2) .txtWrap>img {
	padding-left: 18px;
	padding-top: 4px;
	_float: right;
}

.content04 li:nth-child(3) {
	width: 233px;
	height: 240px;
	top: 628px;
	left: 497px;
	background-color: pink;
	_position: absolute;
}

.content04 li:nth-child(3) .txtWrap {
	position: absolute;
	_bottom: 0;
	height: 65px;
	width: 233px;
	background-color: rgba(0,0,0,0.5);
}

.content04 li:nth-child(3) .txtWrap h3{
	font-size: 15px;
	text-align: center;
	_font-weight: normal;
	float: left;
	color: white;
	_line-height: 50px;
	padding-top: 14px;
	padding-left: 18px;
}

.content04 li:nth-child(3) .txtWrap h3 span {
	font-weight: bolder;
	font-size: 16px;
}

.content04 li:nth-child(3) .txtWrap p{
	padding-left: 18px;
	text-align: center;
	float: left;
	_line-height: 50px;
	font-size: 13px;
	color: #b6b6b6;
}

.content04 li:nth-child(4) {
	width: 233px;
	height: 240px;
	top: 628px;
	left: 747px;
	background-color: pink;
	_position: absolute;
	margin-right: 0;
}

.content04 li:nth-child(4) .txtWrap {
	position: absolute;
	_bottom: 0;
	height: 65px;
	width: 233px;
	background-color: #44619d;
}

.content04 li:nth-child(4) .txtWrap h3{
	font-size: 15px;
	text-align: center;
	_font-weight: normal;
	float: left;
	color: white;
	_line-height: 50px;
	padding-top: 12px;
	padding-left: 18px;
}

.content04 li:nth-child(4) .txtWrap h3 span {
	font-weight: bolder;
	font-size: 16px;
}

.content04 li:nth-child(4) .txtWrap p{
	padding-left: 18px;
	_text-align: center;
	_float: left;
	_line-height: 50px;
	font-size: 15px;
	color: #d2e4f8;
	padding-top: 34px;
}


.content05 {
	width: 980px;
	height: 240px;
	_top: 884px;
	_position: absolute;
}

.content05 li {
	width: 233px;
	height: 240px;
	float: left;
	margin-right: 16px;
	overflow: hidden;
	position: relative;
	background-color: pink;
}

.content05 li:last-child {
	margin-right: 0;
}

.content05 li img:last-child {
	position: absolute;
	top: 50%;
	left: 105px;
	margin-top: -10px;
}

.content05 .bg {
	width: 100%;
	height:240px;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 100%;
	left: 0;
	transition: 0.3s;
}
.content05 li .txtWrap {
	position: absolute;
	top: -5px;
	height: 240px;
	width: 233px;
	transition: 0.3s;
	_background-color: rgba(83,169,218,0.5);
}

.content05 li:hover .txtWrap{
	top: 50%;
	_background-color: rgba(0,0,0,0.5);
}
.content05 li:hover .bg {
	top: 0;
}
.content05 li .txtWrap img {
	position: absolute;
	top: 25px;
	left: 58px;
}

.content05 li .txtWrap h3{
	font-size: 19px;
	text-align: center;
	_margin: 0 auto;
	_font-weight: normal;
	float: left;
	color: white;
	_line-height: 50px;
	padding-top: 30px;
	padding-left: 97px;
}

.content05 li .txtWrap p{
	padding-left: 5px;
	text-align: center;
	margin: 0 auto;
	_float: left;
	_line-height: 50px;
	font-size: 13px;
	color: #e6f4f7;
	padding-top: 64px;
}

.content05 li:last-child .txtWrap img {
	position: absolute;
	top: 25px;
	left: 48px;
}

.content05 li:last-child .txtWrap h3{
	font-size: 19px;
	text-align: center;
	_margin: 0 auto;
	_font-weight: normal;
	float: left;
	color: white;
	_line-height: 50px;
	padding-top: 30px;
	padding-left: 87px;
}

footer {
	height: 113px;
	background-color: #fff;
}

footer .footerWrap {
	width: 980px;
	height: 113px;
	margin: 0 auto;
	padding-top: 29px;
}

footer .footerWrap .footerTop li {
	float: left;
	margin-right: 15px;
}

footer .footerWrap .footerTop li a {
	font-size: 13px;
}

footer .footerWrap .footerBottom {
	float: left;
	padding-top: 0px;
	height: 29px;
}

footer .footerWrap .footerBottom p {
	float: left;
	font-size: 11px;
	color: #747474;
	line-height: 29px;
	margin-bottom: -13px;
}

footer .footerWrap .footerBottom p:last-child {
	float: none;
}

























