@charset "utf-8";


header#main_header {
	height: 1200px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 100px;
	background-color: aliceblue;
}
#header_top {
	width: 100%;
	height: 50px;
}
#header_top>h1 {
	float: left;
	height: 50px;
}
#header_top>h1>a {
	color: cornflowerblue;
}

#header_top>#main_menu {
	float: right;
}
#main_menu {
	background-color: cornflowerblue;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	right: -100%;
}
#main_menu>ul {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%)
}
#main_menu>ul>li {
	height: 50px;
}
#main_menu>ul>li>a {
	display: block;
	line-height: 50px;
	padding: 0 30px;
	color: #fff;
}
.toggleMenu {
	float: right;
	width: 50px;
	height: 50px;
	_background-color: peachpuff;
	position: relative;
	cursor: pointer;
}
.toggleMenu div {
	width: 35px;
	height: 5px;
	background-color: cornflowerblue;
	position: absolute;
	border-radius: 3px;
	left: 7px;
	transition: .3s;
}
.toggleMenu .bar1 {top: 11px;}
.toggleMenu .bar2 {top: 21px;}
.toggleMenu .bar3 {top: 31px;}

.toggleMenu.change {
	position: fixed;
	z-index: 999999;
	right: 0;
}
.toggleMenu.change .bar1 {
	transform: rotate(-45deg);
	top: 21px;
	background-color: #fff;
}
.toggleMenu.change .bar2 {
	opacity: 0;
}
.toggleMenu.change .bar3 {
	transform: rotate(45deg);
	top: 21px;
	background-color: #fff;
}





/*slider*/
.slider_wrap {
	height: 1005px;
	position: relative;
}
.slider_wrap ul>li {
	height: 1005px;
	background-color: lightgoldenrodyellow;
}
.slider_wrap li.slide_1st {
	background-image: url(../images/mainimg01.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover
}
.slider_wrap li.slide_2nd {
	background-image: url(../images/mainimg02.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover
}
.slider_wrap .slider_txt {
	width: 300px;
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -150px;
	text-align: center;
	color: white;
}
.slider_wrap .slider_txt h3 {
	font-size: 24px;
}
.slider_wrap .slider_txt h3:after{
	content:"";
	display: block;
	width: 300px;
	height: 2px;
	background-color: #fff;
	margin: 5px auto;
}
.bx-wrapper {
    -moz-box-shadow: 0 none;
    -webkit-box-shadow: 0 none;
    box-shadow: 0 none;
    border: 0 none;
    background: #fff;
}



/*content*/
.content {
	width: 100%;
}

.content>ul>li {
	float: left;
	width: 50%;
	height: 315px;
	background-color: cornsilk;
	position: relative;
}
.content>ul>li:nth-child(2n) {
	background-color: cornflowerblue;
}
.content>ul>li p {
	text-align: center;
	color: #fff;
	font-weight: bold;
}
.content>ul>li img {
	display: block;
	margin: 0 auto;
	transition: .3s;
}
.content>ul>li img.icon {
	margin-bottom: 15px;
}
.content>ul>li a.iconlink {
	display: block;
	height: 315px;
	padding-top: 70px;
}
.content>ul>li.content1st {
	background-color: #92c1d5;
}
.content>ul>li.content2nd {
	position: relative;
	overflow: hidden;
}
.content>ul>li.content2nd .play{
	position: absolute;
	top: 50%;
	right: 50%;
	margin-top: -50px;
	margin-right: -50px;
}
.content>ul>li.content2nd:hover img.bgImg {
	transform: scale(1.2);
}
.content>ul>li.content3th{
	display: none;
}
.content>ul>li.content4th{
	background-color: #413d3e;
}
.content>ul>li.content5th{
	background-color: #b8307c;
}
.content>ul>li.content6th{
	display: none;
}
.content>ul>li .card {
	position: absolute;
	top: 0;
	padding-left: 50px;
	padding-top: 50px;
	color: white;
}
.content>ul>li .card h3:after {
	content:"";
	display: block;
	width: 50px;
	height: 2px;
	background-color: #fff;
	margin: 10px 0;
}
.content>ul>li .card p {
	font-size: 2em;
	text-align: left;
}
.content>ul>li.content7th{
	display: none;
}
.content>ul>li.content8th{
	display: none;
}
.content>ul>li.content9th{
	background-color: #b8307c;
}
.content>ul>li.content10th{
	background-color: #413d3e;
}
.content>ul>li.content11th{
	display: none;
}



/*container*/
.container {
	height: 750px;
	background-image: url(../images/contentsbg01.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.container .section {
	width: 1260px;
	margin: 0 auto;
	padding-top: 70px;
}
.container h4 {
	text-align: center;
	color: #fff;
}
.container h4:after {
	content: "";
	display: block;
	width: 50px;
	height: 3px;
	background-color: #fff;
	margin: 20px auto;
}
.container .section>p {
	text-align: center;
	color: #fff;
	font-size: 2em;
	margin-bottom: 70px;
}
.container .vision li {
	float: left;
	margin-right: 20px;
	width: 300px;
	height: 380px;
	position: relative;
}
.container .vision li:last-child {
	margin-right: 0;
}
.container .vision li:hover {
	box-shadow: 8px 8px 10px rgba(0,0,0,0.5);
	transform: translate(-10px,-10px);
	transition: 0.3s;
}
.container .vision .card {
	width: 300px;
	height: 300px;
	_position: relative;
}
.container .vision .card img {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 70px;
}
.container .vision .card .card_body {
	position: absolute;
	bottom: 0;
	width: 300px;
	height: 160px;
	padding: 0 20px;
	text-align: center;
	color: #fff;
}
.container .vision .card .card_body h3 {
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 10px;
}
}